/* Info Section Css */
.main-page-sec {
  background: #1e2228;
  position: fixed;
  right: -100%;
  top: 0;
  width: 25%;
  height: 100%;
  z-index: 99999;
  padding: 30px;
  overflow: scroll;
  scrollbar-width: none;
  transition: all ease 0.6s;
}
.bg-overlay-1,
.bg-overlay-2 {
  position: fixed;
  background: #00000024;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  z-index: 99;
  transition: all ease-in-out 0.3s;
}
.bg-overlay-2 {
  top: -100%;
  right: 0;
}
.sandbox-info-heading h3 {
  font-size: 22px;
  color: var(--white-text);
  font-weight: 700;
}
.info-x-mark {
  border: none;
  background: #5858588a;
  color: #fff;
  font-size: 16px;
  padding: 5px;
  border-radius: 50%;
  width: 30px;
  cursor: pointer;
}
.Info-highlight p {
  color: #bbc5da;
}
.info-heading h3 {
  font-size: 20px;
  color: var(--white-text);
  font-weight: 500;
}
.info-links {
  margin-bottom: 10px;
}
.info-links a,
.Email-num a {
  font-size: 18px;
  color: #bbc5da;
}
.info-heading h3 {
  margin: 30px 0px 10px 0px;
}
.Follow-social a {
  color: var(--white-text);
  font-size: 18px;
  margin-top: 10px;
}
.active-info {
  right: 0;
}
/* Search Pop up */
.search-pop-up {
  position: fixed;
  top: -100%;
  left: 0;
  z-index: 999999;
  width: 100%;
  background: var(--white-text);
  transition: all ease-in-out 0.5s;
}
.Search-input-fl {
  width: 100%;
  input {
    border: none;
    padding: 40px 0px;
  }
}
input[type="search"]::-webkit-search-cancel-button {
  display: none;
}
.active-top {
  top: 0;
}
