/* Google Font Family */
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

/* Default CSS */
body {
  font-family: "Urbanist", sans-serif;
  font-weight: 500;
  background: var(--body-color);
}
ul,
li,
ol {
  list-style: none;
}
img {
  display: flex;
}
a,
input {
  outline: none;
  display: inline-flex;
  font-family: var(--font-family);
}
::selection {
  background: var(--button-color);
  color: var(--white-text);
}
:root {
  --twitter-color: #5daed5;
  --facebook-color: #4470cf;
  --insta-color: #d53589;
  --youtube-color: #c8312b;
  --text-color: #343f52;
  --light-text: #5f6779;
  --button-color: #fab758;
  --body-color: #f6f7f9;
  --before-color: #00000040;
  --nav-bar-color: #1e2228;
  --white-text: #fff;
  --black-text: #000;
  --font-family: "Urbanist", sans-serif;
}
/* Header + Navigation Section CSS */
.Header-Logo {
  background: var(--white-text);
  padding-bottom: 40px;
}
.Logo-img {
  width: 150px;
  padding: 40px 0px;
}
/* Navigation Bar */
.social-icons,
.infoSearch-icon-fl {
  gap: 20px;
}
.list-items a {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 600;
}
.list-items a:hover,
.infoSearch-icon-fl a i:hover {
  color: var(--button-color);
}
.nav-link:before {
  position: absolute;
  top: 10px;
  background: var(--before-color);
  left: -40px;
  width: 5px;
  height: 5px;
  content: "";
  border-radius: 50%;
}
.social-icons a,
.infoSearch-icon-fl a {
  font-size: 18px;
  transition: all ease-in 0.1s;
}
.social-icons a:hover {
  transform: translateY(-5px);
}
.social-icons .twitter-fl a:nth-child(1) i {
  color: var(--twitter-color);
}
.social-icons .facebook-fl a:nth-child(1) i {
  color: var(--facebook-color);
}
.social-icons .Instagram-fl a:nth-child(1) i {
  color: var(--insta-color);
}
.infoSearch-icon-fl a i {
  color: var(--light-text);
}

/* Banner Slider Section */
.Banner-slider-sec,
.My-Services,
.Take-photo,
.My-Selected-shots,
.Happy-customer-sec,
.About-Me-sec,
.My-Working-Process,
.Request-Photography-price,
.Footer-sec {
  padding: 50px 0px;
}
.slider-imgs {
  padding: 10px;
  height: 500px;
  img {
    border-radius: 10px;
  }
}
.Custom-Btn-fl {
  position: absolute;
  width: 100%;
  top: 50%;
  z-index: 111;
  left: 0;
}
.Custom-Btn-fl .prev-slide,
.Custom-Btn-fl .nxt-slide {
  background: var(--white-text);
  padding: 12px;
  border: none;
  font-size: 14px;
  color: var(--text-color);
  border-radius: 100%;
  cursor: pointer;
  box-shadow: 0px 0px 10px #00000057;
}
/* My Services Section CSS */
.Services-info-box > div {
  flex: 0 48%;
}
.Services-Images-fl {
  gap: 30px;
}
.Services-Images-fl > div {
  flex: 0 40%;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #0000001a;
}
.Service-boxes:hover .gallery-Link {
  opacity: 1;
}
.gallery-Link {
  background: rgba(0, 0, 0, 0.333);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.3s;
}
.gallery-Link a {
  font-size: 16px;
  font-weight: 700;
  color: var(--white-text);
}
.Img-product {
  padding: 20px 0px;
  background: #fff;
  p {
    font-size: 18px;
    font-weight: 600;
    color: var(--text-color);
  }
}
/* Service Text */
.Service,
.Highlight-para {
  margin-bottom: 20px;
}
.Heading-h2 h2 {
  font-size: 32px;
  font-weight: 600;
  color: var(--text-color);
}
.Highlight-para p {
  font-size: 22px;
  line-height: 35px;
  font-weight: 500;
  color: var(--light-text);
}
.Para-p p {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  color: var(--light-text);
}
.button-styl a {
  padding: 15px 30px;
  background: var(--button-color);
  border-radius: 50px;
  font-size: 18px;
  font-weight: 500;
  color: var(--white-text);
}
/* My Selected Shots Section CSS */
.Selected-Shots,
.Shots-Heading {
  margin-bottom: 15px;
}
.filter-nav {
  gap: 50px;
}
.photo-btn-styl {
  background: transparent;
  color: var(--before-color);
  border: none;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  font-family: var(--font-family);
  transition: 0.3s all ease;
}
.photo-btn-styl:hover {
  color: var(--button-color);
}
.filter-nav {
  margin-top: 40px;
}
.photo-btn-styl::before {
  content: "";
  background: var(--before-color);
  width: 5px;
  height: 5px;
  position: absolute;
  top: 7px;
  left: -25px;
  border-radius: 50%;
}
.Grid-gallery {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  gap: 30px;
  margin-top: 40px;
}
.Grid-gallery > div {
  height: 300px;
  border-radius: 10px;
}
.filter-nav button:nth-child(1)::before {
  display: none;
}
.hide {
  display: none;
}
.gallery-item.animate {
  animation: bounceIn 0.6s ease;
}
/* Animation Section CSS */
@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  60% {
    opacity: 1;
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}
/* Take Photo Section */
.Take-photo,
.Happy-customer-sec,
.Request-Photography-price {
  background: url("/Sandbox-Images/Take-photo-bg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}
.Take-photo::before,
.Happy-customer-sec::before,
.Request-Photography-price::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: #00000078;
  top: 0;
  left: 0;
}
.Image-main-heading h2 {
  font-size: 52px;
  font-weight: 600;
  color: var(--white-text);
}
/* Happy Customer Section CSS */
.Happy-customer-sec {
  background-image: url("/Sandbox-Images/Happy-Customer-bg");
}
.happy-slider-Cm {
  margin-top: 50px;
}
.happy-customer-heading h2 {
  color: var(--white-text);
}
.h3-heading h3 {
  color: var(--text-color);
  font-size: 20px;
  font-weight: 600;
}
.customer-para {
  padding: 20px 0px;
}
.happy-customer-slider {
  background: #ffffffda;
  padding: 40px;
  margin: 0px 40px;
  border-radius: 10px;
}
.stars i {
  color: var(--button-color);
}

/* About Me Section */
.About-me-img {
  border-radius: 15px;
}
/* My Work Process Section CSs */
.My-Work-heading {
  margin-bottom: 20px;
}
.Working-Process-Details-Box {
  gap: 30px;
}
.Working-Process-Details-Box > div {
  flex: 0 45%;
  gap: 20px;
}
.Details-heading {
  margin-bottom: 10px;
}
.Serial-no p {
  font-size: 18px;
  font-weight: 500;
  color: var(--white-text);
  background: var(--button-color);
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
/* Pricing Form Section CSS */
.Request-Photography-price {
  background-image: url("/Sandbox-Images/Price-Request-bg");
}
.Pricing-Requesting-Form-sec {
  width: 60%;
  padding: 60px;
  background: #ffffffda;
  border-radius: 10px;
}
.name-email-fl > div {
  flex: 0 48%;
}
.name-email-fl input,
.textarea-input textarea {
  padding: 15px 20px;
  width: 100%;
  border: none;
  border-radius: 5px;
}
.textarea-input {
  margin: 20px 0px;
  width: 100%;
}
.textarea-input textarea {
  max-width: 100%;
  max-height: 100px;
  font-family: var(--font-family);
  outline: none;
}

/* Footer Section */
.Footer-Logo {
  padding: 20px 0px;
}
.foot-heading {
  margin-bottom: 10px;
}
.txt-styl p {
  font-size: 18px;
  color: var(--light-text);
  line-height: 30px;
}
.foot-icon i {
  font-size: 22px;
  color: var(--button-color);
}
.Footer-copy-right {
  padding: 20px 0px;
  border-top: 1px solid #00000024;
}
.footer-social-fl .Instagram-fl a:nth-child(1) i {
  color: var(--insta-color);
}
.footer-social-fl .twitter-fl a:nth-child(1) i {
  color: var(--twitter-color);
}
.footer-social-fl .youtube-fl a:nth-child(1) i {
  color: var(--youtube-color);
}
.footer-social-fl .facebook-fl a:nth-child(1) i {
  color: var(--facebook-color);
}
